 .text-color{
    color:#279fca;
  }
  input[type=text], select {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-color:#279fca;
    box-sizing: border-box;
}

 button[type=submit] {
    width: 10%;
    background-color:#279fca;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.inputDiv{
  display:flex;
  margin-left:37%;
}

input[type=submit]:hover {
    background-color: #45a049;
}